# Python
__pycache__/
*.py[cod]
*.egg-info/

# macOS
.DS_Store

# virtual envs
Pose_agent/venv/
venv/
env/
ENV/

# editor
.vscode/
.idea/

# data / large files
*.sqlite3
*.db
*.pth
*.so

.env
templates/index_wo_ai.html
templates/index.html
main_bone.py
main_wo_ai.py
main_wo_ai2.py
main.py
chatbot.py